<ul>
  <li class="decision u-spacer">
    <div class="u-named-target-wrapper">
      <div class="u-named-target-dummy"></div>
    </div>
    <h4 class="h4">{{newsInfo.title}}</h4>
    <div class="decision__subtitle u-small-text u-textcolor-sub u-spacer--tiny">
      {{moment-format newsInfo.sessionDate "DD MMMM YYYY"}},
      {{#if (eq newsInfo.category "mededeling")}}
        mededeling aan de Vlaamse Regering
      {{else}}
        op voorstel van
        {{#if isArrayMandatee}}
          {{#each mandateesArray as |mandatee|}}
            <a>{{mandatee.title}} {{mandatee.fullName}}</a>{{mandatee.connector}}
          {{/each}}
        {{else}}
          <a>{{newsInfo.mandateeTitles}} {{mandateeFullName}}</a>
        {{/if}}
      {{/if}}
    </div>
    <div class="decision__text typography">
      <p>
        {{#if isLongText}}
          {{shortenText}}
        {{else}}
          {{textToDisplay}}
        {{/if}}
      </p>
    </div>
    <div class="decision__links">
      <div class="link-group link-group--bordered">
        {{#if isLongText}}
          <button class="link" {{action "readMore"}}>Lees meer</button>
        {{/if}}
        {{documents-view model=newsInfo}}
      </div>
    </div>
  </li>
</ul>
