<ul>
  <li class="decision u-spacer">
    <div class="u-named-target-wrapper">
      <div class="u-named-target-dummy"></div>
    </div>
    <h4 class="h4">{{newsInfo.title}}</h4>
    <div class="decision__subtitle u-small-text u-textcolor-sub u-spacer--tiny">
      <time datetime={{moment-format newsInfo.sessionDate "YYYY-MM-DD"}}>{{moment-format newsInfo.sessionDate "D MMMM YYYY"}}</time>

      {{#if (eq newsInfo.category "mededeling")}}
        <span>mededeling aan de Vlaamse Regering</span>
      {{else}}
        {{#if newsInfo.mandateeFamilyNames}}
          op voorstel van {{format-ministers mandatees=(await mandatees)}}
        {{/if}}
      {{/if}}
    </div>
    <div class="decision__text typography">
      <p>
        {{#if isLongText}}
          {{shortenText}}
        {{else}}
          {{textToDisplay}}
        {{/if}}
      </p>
    </div>
    <div class="decision__links">
      <div class="link-group link-group--bordered vl-u-spacer-extended-top-s">
        {{#if isLongText}}
          {{#if longTextHidden}}
            <button class="link" {{action "readMore"}}>Lees meer</button>
          {{/if}}
        {{/if}}
        {{#unless longTextHidden}}
          <button class="link" {{action "readMore"}}>Lees minder</button>
        {{/unless}}
        {{documents-view model=newsInfo}}
      </div>
    </div>
  </li>
</ul>
