<div class="filter u-spacer--small">
  <p class="filter__intro">Verfijn uw zoekresultaat</p>
  <form class="form filter__form">
    <div>
      <div class="filter__field form-item">
        {{web-components/vl-form-label value="Zoek naar"}}
        {{web-components/vl-form-input width="4" value=(mut searchInput) placeholder="Zoek naar"}}
      </div>

      {{select-date-council setStartDate=(action (mut startDateInput)) setEndDate=(action (mut endDateInput)) setDateChoiceId=(action (mut dateChoiceIdInput)) startDateInput=startDate endDateInput=endDate dateChoiceId=dateChoiceId}}
      <div class="filter__field form-item">
        <label class="filter__field filter__field__label">
          Ministeriële bevoegdheden
        </label>
        <div class="form-element">
          <div class="form__input">
            {{select-ministerial-power setMinisterialPower=(action (mut ministerialPowerIdInput)) ministerialPowerId=ministerialPowerId}}
          </div>
        </div>
      </div>
      <div class="filter__field form-item">
        <label class="filter__field filter__field__label">
          Voorgesteld door
        </label>
        <div class="form-element">
          <div class="form__input">
            {{select-presented-by setPresentedBy=(action (mut presentedByIdInput)) presentedById=presentedById}}
          </div>
        </div>
      </div>
      <div class="filter__field form-item">
        <input class="form-submit button" onclick={{action "search"}} value="Zoek">
      </div>
    </div>
  </form>
</div>
