<ul>
  <li class="decision vl-u-spacer">
    <div class="u-named-target-wrapper">
      <div class="u-named-target-dummy"></div>
    </div>
    <h4 class="vl-title vl-title--h4">{{newsInfo.title}}</h4>
    <div class="vl-u-text--muted vl-u-spacer-extended-bottom-s">
      <time datetime={{moment-format newsInfo.sessionDate "YYYY-MM-DD"}}>{{moment-format newsInfo.sessionDate "D MMMM YYYY"}}</time>

      {{#if (eq newsInfo.category "mededeling")}}
        <span>mededeling aan de Vlaamse Regering</span>
      {{else}}
        {{#if newsInfo.mandateeFamilyNames}}
          op voorstel van {{format-ministers mandatees=(await mandatees)}}
        {{/if}}
      {{/if}}
    </div>
    <div class="decision__text typography">
      <p>
        {{#if longTextHidden}}
          {{shortText}}
        {{else}}
          {{fullText}}
        {{/if}}
      </p>
    </div>
    <div class="decision__links">
      <div class="link-group link-group--bordered vl-u-spacer-extended-top-s">
        {{#if isLongText}}
          {{#if longTextHidden}}
            <button class="vl-link vl-u-spacer-extended-right" {{action "toggleReadMore"}}>Lees meer</button>
          {{else}}
            <button class="vl-link vl-u-spacer-extended-right" {{action "toggleReadMore"}}>Lees minder</button>
          {{/if}}
        {{/if}}
        {{documents-view model=newsInfo}}
      </div>
    </div>
  </li>
</ul>
