<h2 class="vl-title vl-title--alt">Verfijn uw zoekresultaten</h2>
<form class="vl-form vl-u-bg-porcelain">
  <div class="vlc-box">
    <div class="vlc-input-field-block">
      <WebComponents::VlFormLabel @value="Zoek naar" />
      <WebComponents::VlFormInput
        @width="4"
        @value={{this.searchNewsItems.keyword}}
        @onChange={{mut this.searchNewsItems.keyword}}
        @placeholder="Zoek naar"
      />
    </div>
    <SelectDateCouncil
      @selectedId={{this.searchNewsItems.dateOption}}
      @startDate={{this.searchNewsItems.startDate}}
      @endDate={{this.searchNewsItems.endDate}}
      @onChange={{this.selectSessionDate}}
    />
    <SelectMinisterialPower
      @selectedId={{this.searchNewsItems.ministerialPowerId}}
      @onChange={{this.selectMinisterialPowerId}}
    />
    <SelectPresentedBy
      @selectedId={{this.searchNewsItems.ministerId}}
      @onChange={{this.selectMinister}}
    />
    <div class="vl-u-spacer-extended-top">
      <button
        type="button"
        role="submit"
        class="form-submit vl-button"
        {{on "click" this.search}}
      >
        Zoek
      </button>
    </div>
  </div>
</form>