<h2 class="vl-title vl-title--alt">Verfijn uw zoekresultaten</h2>
<form class="vl-form vl-u-bg-porcelain" {{action onSearch searchParams on="submit" }}>
  <div class="vlc-box">
    <div class="vlc-input-field-block">
      <WebComponents::VlFormLabel @value="Zoek naar" />
      <WebComponents::VlFormInput @width="4" @value={{searParams.search}} @onChange={{action (mut searchParams.search)}}
        @placeholder="Zoek naar" />
    </div>
    <SelectDateCouncil @selectedId={{searchParams.dateOption}} @startDate={{searchParams.startDate}}
      @endDate={{searchParams.endDate}} @onChange={{this.selectSessionDate}} />
    <SelectMinisterialPower @selectedId={{searchParams.ministerialPowerId}} @onChange={{action (mut
      searchParams.ministerialPowerId)}} />
    <SelectPresentedBy @selectedId={{searchParams.ministerId}} @selectedFirstName={{searchParams.ministerFirstName}}
      @selectedLastName={{searchParams.ministerLastName}} @onChange={{this.selectMinister}} />
    <div class="vl-u-spacer-extended-top">
      <button class="form-submit vl-button">Zoek</button>
    </div>
  </div>
</form>