<div class="vlc-input-field-block">
  <label class="vl-form__label">
    Ministeriële bevoegdheden
  </label>
  <div class="form-element">
    <div class="form__input">
      <PowerSelect @selected={{this.selected}} @options={{this.options}} @onChange={{this.onChangeOption}} as |option|>
        {{option.label}}{{#if option.count}} ({{option.count}}){{/if}}
      </PowerSelect>
    </div>
  </div>
</div>