<div class='vlc-input-field-block'>
  <label class='vl-form__label'>
    Ministeriële bevoegdheden
  </label>
  <div class='form-element'>
    <div class='form__input'>
      <XSelect
        class='vl-select vl-select--block'
        @value={{this.selected}}
        @onChange={{this.onChangeOption}}
        as |xs|
      >
        {{#each this.options as |option|}}
          <xs.option @value={{option}}>
            {{option.label}}
            {{#if option.count}} ({{option.count}}){{/if}}
          </xs.option>
        {{/each}}
      </XSelect>
    </div>
  </div>
</div>