{{! template-lint-disable }}
{{! Not ocanified }}
<div class='vl-form__input'>
  <Input class='vl-input-field vl-input-field--block' @type='text' @id={{@id}} value={{@value}}
    @placeholder={{@placeholder}} @title={{this.title}} {{on 'input' @onChange}} />
</div>